
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css';

@import '~admin-lte/dist/css/skins/skin-blue.css';

@import '~admin-lte/dist/css/AdminLTE.css';

@import '~admin-lte/bower_components/font-awesome/css/font-awesome.min.css';

@import '~admin-lte/bower_components/Ionicons/css/ionicons.min.css';

@import '~select2/dist/css/select2.css';

@import '~select2-bootstrap-theme/dist/select2-bootstrap.css';

@import '~bootstrap-fileinput/css/fileinput.css';

@import '~fine-uploader/fine-uploader/fine-uploader-gallery.css';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.btn-noneborder{
  padding: 0;
  border: none;
  background: none;
}

